.main{
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
// .wrap{
//     position: relative;
// }
// .card{
//     position: relative;
//     display: grid;
//     grid-template-columns: 1fr, 1fr, 1fr;
// }